<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1054</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1053</string>
					<key>Timestamp</key>
					<string>728510400.499541</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            capturedImageFilenames.append(filename)
</string>
				<key>leading</key>
				<string>//        let filename = "image\(Date().timeIntervalSince1970).jpeg"
//        if saveImage(image, named: filename) {
</string>
				<key>trailing</key>
				<string>//            UserDefaults.standard.set(capturedImageFilenames, forKey: "capturedImageFilenamesKey")
//            
//            // Optionally, you can add a slight delay to ensure unique filenames
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1450</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1449</string>
					<key>Timestamp</key>
					<string>728510400.499552</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        toggleButton.translatesAutoresizingMaskIntoConstraints = false
</string>
				<key>leading</key>
				<string>    
    private func setupToggleButton() {
</string>
				<key>trailing</key>
				<string>        view.addSubview(toggleButton)
        let math = (view.frame.width * 0.13)
        NSLayoutConstraint.activate([
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>299</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>298</string>
					<key>Timestamp</key>
					<string>728455215.952492</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @objc func showTemplate(){
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>        //let currentSelectedOption = AppState.shared.selectedOption
        // let count = UserDefaults.standard.integer(forKey: photoCounterKey)
        view.bringSubviewToFront(imageView)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>240</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>239</string>
					<key>Timestamp</key>
					<string>728455215.952486</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    //2D Array Sthuff
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>    
    var images2DArray: [[String]] = []

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1315</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1314</string>
					<key>Timestamp</key>
					<string>728510400.499547</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            picture2.image = safelyLoadImage(named: capturedImageFilenames[count - 2])
</string>
				<key>leading</key>
				<string>//        }
//        if count &gt;= 2 {
</string>
				<key>trailing</key>
				<string>//        }
//        if count &gt;= 3 {
//            picture1.image = safelyLoadImage(named: capturedImageFilenames[count - 3])
</string>
			</dict>
			<key>title</key>
			<string>Where you load them pics</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>435</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>434</string>
					<key>Timestamp</key>
					<string>728510400.499527</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Align_/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        print("handleImageTap count:")
</string>
				<key>leading</key>
				<string>        let photoCounter = UserDefaults.standard.integer(forKey: photoCounterKey)
        
</string>
				<key>trailing</key>
				<string>        print(photoCounter)
        
        if photoCounter &gt;= 5 {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
